<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="Content-Security-Policy"
        content="default-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline'">
    <title>Proxy</title>
    <link rel="stylesheet" type="text/css" href="../../styles.css">
    <link rel="stylesheet" type="text/css" href="./proxy.css">
    <script defer src="../../static/fontawesome/js/all.js"></script>
    <script defer type="text/javascript" src="./proxy.js"></script>
</head>

<body>
    <div class="tabsbar">
        <div id="interceptor-tablink" class="tablink" onclick="openTab('interceptor')">
            <i class="fas fa-eye-slash fa-fw fa-lg"></i>
            <span>Interceptor</span>
        </div>
        <div id="history-tablink" class="tablink" onclick="openTab('history')">
            <i class="fas fa-history fa-fw fa-lg"></i>
            <span>History</span>
        </div>
        <div id="settings-tablink" class="tablink" onclick="openTab('settings')">
            <i class="fas fa-sliders-h fa-fw fa-lg"></i>
            <span>Settings</span>
        </div>
    </div>

    <div id="interceptor" class="tabcontent">
        <div id="interceptor-controls">
            <button id="toggle-interceptor" style="min-width: 16ch;" onclick="toggleInterceptor()">
                <i class="fas fa-toggle-off fa-fw fa-lg"></i><span>Enable</span>
            </button>
            <button id="accept">
                <i class="fas fa-paper-plane fa-fw fa-lg"></i><span>Accept</span>
            </button>
            <button id="drop">
                <i class="fas fa-ban fa-fw fa-lg"></i><span>Drop</span>
            </button>
        </div>
        <iframe id="monaco-editor" src="../monaco-editor/monaco-editor.html" frameborder="0"></iframe>
    </div>

    <div id="history" class="tabcontent">
        <h3>History</h3>
        <p>TODO</p>
    </div>

    <div id="settings" class="tabcontent">
        <h3>Listener</h3>
        <div>
            <button id="toggle-proxy" style="margin-right: 1rem; min-width: 15ch">
                <i class="fas fa-play fa-fw fa-lg"></i><span>Start</span>
            </button>

            <label for="proxy-address">Address:</label>
            <input id="proxy-address" name="proxy-address" list="address" value="127.0.0.1"
                style="margin-right: 0.5rem; width: 20ch;">
            <datalist id="address">
                <option value="127.0.0.1">
            </datalist>

            <label for="proxy-port">Port:</label>
            <input id="proxy-port" style="width: 11ch;" name="proxy-ports" list="port" type="number" min="0" max="65535"
                value="8080">
            <datalist id="port">
                <option value="8080">
                <option value="8081">
                <option value="80">
                <option value="81">
            </datalist>
        </div>
    </div>
</body>

</html>