<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="Content-Security-Policy"
        content="default-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline'">
    <title>Proxy</title>
    <link rel="stylesheet" type="text/css" href="../../styles.css">
    <link rel="stylesheet" type="text/css" href="./proxy.css">
    <script defer src="../../static/fontawesome/js/all.js"></script>
    <script defer type="text/javascript" src="./proxy.js"></script>
</head>

<body>
    <div class="tabsbar">
        <div id="interceptor-tablink" class="tablink" onclick="openTab('interceptor')">Interceptor</div>
        <div id="history-tablink" class="tablink" onclick="openTab('history')">History</div>
        <div id="settings-tablink" class="tablink" onclick="openTab('settings')">Settings</div>
    </div>

    <div id="interceptor" class="tabcontent">
        <h3>Interceptor</h3>
        <iframe id="monaco-editor" src="../monaco-editor/monaco-editor.html" frameborder="0"></iframe>
    </div>

    <div id="history" class="tabcontent">
        <h3>History</h3>
        <p>TODO</p>
    </div>

    <div id="settings" class="tabcontent">
        <h3>Settings</h3>
        <p>TODO</p>
        <button id="start-proxy">Start</button>
        <button id="stop-proxy">Stop</button>
    </div>
</body>

</html>