<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="Content-Security-Policy"
        content="default-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline'">
    <title>Navigation</title>
    <link rel="stylesheet" type="text/css" href="../../styles.css">
    <link rel="stylesheet" type="text/css" href="./navigation.css">
    <script defer src="../../static/fontawesome/js/all.js"></script>
    <script defer type="text/javascript" src="navigation.js"></script>
</head>

<body>
    <ul>
        <li><i class="far fa-bookmark fa-fw fa-lg"></i><span>Dashboard</span></li>
        <li><i class="fas fa-exchange-alt fa-fw fa-lg"></i><span>Proxy</span></li>
        <li><i class="fas fa-bullseye fa-fw fa-lg"></i><span>Target</span></li>
        <li><i class="fas fa-stethoscope fa-fw fa-lg"></i><span>Analyzer</span></li>
        <li><i class="fas fa-spider fa-fw fa-lg"></i><span>Crawler</span></li>
        <li><i class="fas fa-hammer fa-fw fa-lg"></i><span>Client</span></li>
        <li><i class="fas fa-tools fa-fw fa-lg"></i><span>Utilities</span></li>
    </ul>
</body>

</html>