<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="Content-Security-Policy"
        content="default-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline'">
    <title>client</title>
    <link rel="stylesheet" type="text/css" href="../../styles.css">
    <link rel="stylesheet" type="text/css" href="./client.css">
    <script defer src="../../static/fontawesome/js/all.js"></script>
    <script defer type="text/javascript" src="./client.js"></script>
</head>

<body>
    <h1>Client</h1>
</body>

</html>