#wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
}

#navigation {
    background-color: rgb(var(--background-0));
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column nowrap;
    min-width: 22ch;
    width: 15%;
    height: 100%;
    border-right: thin solid rgba(var(--font), 0.1);
    transition: 300ms;
}

#navigationList {
    display: block;
    padding: 1rem;
    padding-top: 0.5rem;
    width: 100%;
    flex: 1 0 auto;
    overflow-y: scroll;
    transition: 300ms;
}

#icon {
    width: calc(22ch - 2rem);
    height: calc(6ch - 2rem);
    margin: 1rem;
    fill: rgba(var(--font), 0.1);
    cursor: pointer;
    transition: 300ms;
}

#icon:hover {
    fill: rgb(var(--font));
}

#container {
    flex: 1 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column nowrap;
    height: 100%;
}

#content {
    width: 100%;
    flex: 1 0 auto;
    padding: 1rem;
}

#content-frame {
    width: 100%;
    height: 100%;
}

#statusBar {
    width: 100%;
    height: 1.5rem;
    border-top: thin solid rgba(var(--font), 0.1);
}
