@charset "UTF-8";

:root {
    /* dark mode */
    --background-dark-0: 51, 51, 51;
    --font-dark: 255, 255, 255;

    /* light mode */
    --background-light-0: 238, 238, 238;
    --font-light: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-0: var(--background-dark-0);
        --font: var(--font-dark);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-0: var(--background-light-0);
        --font: var(--font-light);
    }
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: rgb(var(--background-0));
    color: rgb(var(--font));
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
